body{
      background-color:#F8F9F9;
	  font-family:Calibri;
}
a{
      text-decoration:none;
      color:#154360;
}

hl, h2, h3{
	margin:0;
}


#container{
	   background-color:white;
	   width:1000px;
	   margin-left:auto;
       margin-right:auto;
}


#header{
      background-color: #B2BABB;
      color:white;
      text-align:center;
	  padding:10px;
}

#content{
      padding:10px;
}

#nav{
      width:180px;
      float:left;
}

#nav ul{
      list-style-type:none;
	  padding:0;
}

#nav.selected{
font-weight:bold;
}

#main{
      width:800px;
      float:right;
	  margin-left: auto;
	  margin-right: auto;
}

#footer{
      clear:both;
	  padding:10px;
	  background-color:#999999;
	  color:white;
	  text-align:right;
}
.photo{
      height: auto;
      width: auto;
      overflow: auto;
      max-width: 200%;
      max-height: 100%;

}
